# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/x64/Release/AC2D.tlog/unsuccessfulbuild
/x64/Release/AC2D.tlog/CL.write.1.tlog
/x64/Release/AC2D.tlog/CL.read.1.tlog
/x64/Release/AC2D.tlog/CL.command.1.tlog
/x64/Release/AC2D.tlog/AC2D.lastbuildstate
/Debug/vc140.pdb
/Debug/vc140.idb
/Debug/AC2D.tlog/unsuccessfulbuild
/Debug/AC2D.tlog/CL.write.1.tlog
/Debug/AC2D.tlog/CL.read.1.tlog
/Debug/AC2D.tlog/CL.command.1.tlog
/Debug/AC2D.tlog/AC2D.lastbuildstate
/Debug/AC2D.log
/AC2D.vcxproj.user
/AC2D.vcxproj.filters
/AC2D.vcxproj
/x64/Release/vc140.pdb
/x64/Release/AC2D.log
/x64/Release/AC2D.tlog/link.write.1.tlog
/x64/Release/AC2D.tlog/link.read.1.tlog
/x64/Release/AC2D.tlog/link.command.1.tlog
